# Postgres (Supabase) - Pooled connection (porta 6543, transaction mode)
DATABASE_URL="postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# Postgres (Supabase) - Direct connection (porta 5432) - usado pelo Prisma para migrations
DIRECT_URL="postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gere-com-openssl-rand-base64-32"
